*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
section {
  margin: 0;
  padding: 0;
}
