$accent-color: rgb(97, 149, 237); // #6195ED
$accent-hover-color: rgb(84, 131, 232); // #5483E8
$title-color: rgb(13, 17, 54); // #0D1136
$main-text-color: rgb(66, 69, 97); // #424561
$secondary-text-color: rgb(119, 121, 140); // #77798C
$background-color: rgb(255, 255, 255); //#FFFFFF
$secondary-background-color: rgb(245, 245, 245);
$line-color: rgb(228, 229, 231); // #E4E5E7
$body-color: rgba(107, 107, 107, 0.7); // #6B6B6B
$shadow-color: rgba(0, 0, 0, 0.05);
$backdrop-color: rgba(0, 0, 0, 0.5);
$gradient-color: rgba(47, 48, 58, 0.4);
