@import "../../styles/variables.scss";

.editContainer {
  position: absolute;
  top: 0;
  right: 0;

  .editButton {
    border-radius: 50%;
    padding: 10px 10px;
    background-color: transparent;

    &:not(:last-child) {
      margin-right: 10px;
    }

    .icon {
      fill: $body-color;
    }

    &:hover,
    &:focus {
      background-color: $shadow-color;
    }

    &:hover .icon,
    &:focus .icon {
      fill: $accent-color;
    }
  }
}
