@import "../../styles/variables.scss";

.galleryContainer {
  margin-top: 20px;
  // border-top: 1px solid $line-color;

  .title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .galleryList {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 20px;

    .galleryItem {
      position: relative;
      width: 100%;
      margin-left: 30px;
      margin-top: 30px;
      flex-basis: calc((100% - 5 * 30px) / 5);
      border: 1px solid transparent;
      cursor: pointer;

      &:hover,
      &:focus {
        border-color: $accent-color;

        & .deleteImageButton {
          display: block;
        }
      }

      .deleteImageButton {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
        border-radius: 50%;
        background-color: transparent;
        display: none;

        .icon {
          fill: $body-color;
        }

        &:hover,
        &:focus {
          background-color: $shadow-color;

          & .icon {
            fill: $accent-color;
          }
        }
      }
    }
  }
}
