@import "../../styles/variables.scss";

.imageContainer {
  position: relative;

  .fullImage {
    display: block;
    margin: 0 auto;
  }

  .paginationContainer {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .paginationButton {
      padding: 5px;
      border-radius: 50%;
      background-color: transparent;

      .icon {
        fill: $body-color;
      }

      &:hover,
      &:focus {
        background-color: $shadow-color;
      }

      &:hover .icon,
      &:focus .icon {
        fill: $accent-color;
      }
    }
  }
}
